html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #2d2e32;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.buttons-layout {
    width: 356px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bottom {
    width: 81.5px;
    height: 68px;
    border-radius: 5px;
    border: none;
    font: inherit;
}

.top {
    width: 173px;
    height: 68px;
    border-radius: 5px;
    border: none;
    font: inherit;
}

.screen {
    width: 356px;
    height: 120px;
    background-color: #38393d;
    border-radius: 5px;
    margin-bottom: 20px;
    font: inherit;
    color: #e3e3e3;
    padding: 20px 20px;

    display: flex;
    align-items: flex-end;
    font-size: 40px;
}

.calculator {
    padding: 20px;
    background-color: #1f1f1f;
    width: 400px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
}

.right {
    color: #c3e7ff;
    background-color: #004a77;
}

.right:hover {
    background-color: #336d92;
}

.right:active {
    border: 2px solid #80868b;
}

.left {
    color: #c3e7ff;
    background-color: #28282a;
}

.left:hover {
    background-color: #535355;
}

.left:active {
    border: 2px solid #80868b;
}

.AC {
    color: #c1eecd;
    background-color: #0f5324;
}

.AC:hover {
    background-color: #3f764f;
}

.AC:active {
    border: 2px solid #80868b;
}

.equal {
    color: #d3e3fd;
    background-color: #0742a0;
}

.equal:hover {
    background-color: #3868b2;
}

.equal:active {
    border: 2px solid #80868b;
}

.problem {
    margin-left: auto;
}

.disappear {
    color: #38393d;
}